.list {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 0 2rem;
   align-items: flex-start;
}

@media (max-width:600px) {
   .list {
      padding: 0;
   }
}